body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    position: relative;
    padding: 10%;
    background-color: grey;
    flex: 1; 
    width: 85vmin;

}

.wrapper{
    width: 100%;
    display: flex;
}

img{
    width: 60%;
}

#center {
    flex: 1;
    padding: 200px;
    background-color: darkgrey;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

/* Styles for individual nav bars */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    nav {
        font-size: 14px;
    }
}

.nav1 {
    position: absolute;
    top: 42px;
    right: 0;
    background-color: #333;
    padding: 20px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-list li {
    margin-right: 20px;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons button {
    margin-left: 10px;
}

.nav2 ul {
    list-style: none;
    padding: 0;
}

.nav2 li {
    display: inline-block;
    margin-right: 10px;
}

nav a:hover{
    background-color: #555;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}