body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; /* Adjust flex direction to column */
    height: 100vh;
}

.container {
    position: relative;
    padding: 10%;
    background-color: grey;
    flex: 1; /* Add flex property to fill the remaining height */
}

#center {
    flex: 1;
    padding: 20px; /* Adjust padding */
    background-color: darkgrey;
}

header {
    background-color: #333;
    color: white;
    padding: 20px; /* Adjust padding */
    display: flex;
    align-items: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

/* Styles for individual nav bars */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    nav {
        font-size: 14px;
    }
}

.nav1 {
    position: absolute;
    top: 16px; /* Adjust the distance from the top */
    right: 0;
    background-color: #333;
    padding: 60px;
    font-size: larger;
}
